.home-container {
  padding: 60px 20px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.animated-title {
  font-size: 3em;
  color: #333;
  margin-bottom: 20px;
  animation: fadeInDown 1s ease-out;
}

.sub-title {
  font-size: 1.5em;
  color: #555;
  margin-bottom: 30px;
  animation: fadeInUp 1.5s ease-out;
}

.explore-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.2em;
  animation: fadeIn 2s ease-in;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.features-row {
  margin-top: 50px;
}

.chart-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chart-title {
  font-size: 1.8em;
  color: #007bff;
  margin-bottom: 15px;
}

.feature-col {
  display: flex;
  justify-content: space-between; /* Distributes space between the feature boxes */
  align-items: stretch; /* Ensures all feature boxes have the same height */
  margin-bottom: 30px;
}

.feature-box {
  flex: 1; /* Ensures that each feature box takes equal space */
  margin: 10px; /* Adds space between the boxes */
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.feature-box:hover {
  transform: translateY(-10px);
}

.feature-box h3 {
  font-size: 1.5em;
  color: #007bff;
  margin-bottom: 10px;
}

.feature-box p {
  font-size: 1.2em;
  color: #666;
}
